<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h3>Kính gửi <span th:text="${fullName}">Quý khách</span>,</h3>
        <p>Chúng tôi xin thông báo rằng file hợp đồng với mã <strong th:text="${contractCode}"></strong> đã được tải lên thành công. Vui lòng xem file đính kèm để kiểm tra.</p>
        <p>Vui lòng thực hiện các bước tiếp theo nếu cần.</p>
        <p>Trân trọng,<br />Đội ngũ Advanced Real Estate</p>
    </body>
</html>